<!-- <h2 class="main-header  ">Angular 2 Events</h2>
<hr>
<div class="row">
  <div class="col-md-6" *ngFor="let event of data">
    <event-thumbnail [event]="event" (click)="getEventName(event.show.name);"></event-thumbnail>
  </div>
</div> -->
<h2 class="main-header  ">Angular 2 Events</h2>
<hr>
<!-- <div class="row">
  <div class="col-md-6 m-b-3" *ngFor="let event of data">
    <event-thumbnail [event]="event"></event-thumbnail>
  </div>
</div> -->
<div class="row">
  <div class="col-lg-4 m-b-3 col-sm-6 col-xs-12" *ngFor="let event of data">
    <event-thumbnail [event]="event"></event-thumbnail>
    <hr>
  </div>
</div>