.card{
    background-color: #1B263B;
} 
.Today,.Yesterday,.Tomorrow,span[class*="day-"]{
    z-index: 100;
    color: #f0f8ff;
    padding: 3px;
    background: rgba(57, 75, 80, 0.733);
    position:absolute;
}

.headingDot{
    height:55px;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.textDot{
    height: 175px;
    
    /* white-space: nowrap; */
    display: -webkit-box;
			
            --webkit-box-orient: vertical;
            
            overflow: hidden;
            --webkit-line-clamp: 5 !important;
    /* text-overflow: ellipsis; */
}